#account-status{
    display: flex;
    margin: 5rem;
}

#account-status h2{
    width: 29rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.container h1,h2,p{
    font-size: 1.6rem;
}

#account-char{
    width: 34rem;
    margin-right: 5rem;
}


.accounts-form label{
    font-size: 1.6rem;
}

.button-group-trio{
    margin-top: 4rem;
}

.button-group-trio #skip{
    margin-top: 1rem;
    width: 83%;
}

@media only screen and (max-width: 768px) {

    #account-status{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0rem;
        flex-direction: column;

    }
        
    .container h2{
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    .container h1,h2,p{
        font-size: 1rem;
    }
    
    #wrapper{
        width: 60%;
        height: auto;
     }
    
    #account-char{
        max-width:100%;
        margin-right: 0rem;
    }

    .radio-options{
        margin: 0;
        padding: 0;
    }

    .accounts-form label{
        font-size: 1rem;

    }

    .accounts-form{
        text-align: left;
    }
    
    .button-group{
        flex-wrap: wrap;
    }

    .button-group-trio #skip{
        margin-top: 0.5rem;
        width: 100%;
        font-size: 0.8rem;
        margin-left: 0rem;
        text-align: center;

    }

    .radio-options label{
        font-size: 1rem;
        
    }

    .acc-text{
        padding: 0;
        margin: 0;
        
    }

    .acc-text h2{
        max-width: fit-content;
        width:20rem;
        font-size: 1rem;
    }
 
    
}