*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    display: block;
    max-width: clamp(90rem,50%,90rem);
    padding-inline: 2rem;
    padding-block: 0;
    margin-inline: auto;
    margin-block: 0;
}


.green-btn{
    background-color: #3EB25E;
    border-radius: 2.1rem;
    width: 12rem;
    height:2rem;
    border-color: transparent;
    color: white;
    font-size:1.3rem;
    padding: 0.5rem;
    line-height: 0.5rem;
}


/* Responsive styling */
@media only screen and (max-width:460px){ 
    *{
        padding: 0;
        margin: 0;
    }    
    
}