:root{
    --primary-green:#3EB25E;
    --white: #FFFF;
    --primary-font: 'Roboto', sans-serif;
}

*{
    font-family: var(--primary-font);
    box-sizing: border-box;
}

body{
    display: block;
    max-width: clamp(90rem,50%,90rem);
    padding-inline: 2rem;
    padding-block: 0;
    margin-inline: auto;
    margin-block: 0;
    background-color: var(--primary-white);
}


.green-btn{
    background-color:  var(--primary-green);
    border-radius: 2.1rem;
    width: 12rem;
    height:2rem;
    border-color: transparent;
    color: var(--branco);
    font-size:1.3rem;
    padding: 0.5rem;
    line-height: 0.5rem;
}

.radio-options{
    display: inline-block;
}

.radio-options h2{
    padding-top: 2rem;
}

.button-group-trio{
    margin-top: 4rem;
}

.button-group-trio .trio{
    margin-top: 1rem;
    width: 80%;
}

.form-fields{
    padding-top: 2rem;
}

input {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-green);
    box-shadow: 0 0 0 1px var(--primary-green);
    opacity: 50%;
    
}

/*removing default appearance*/
input[type="radio"]:checked{ 
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-white);
    box-shadow: 0 0 0 1px var(--primary-green);
} 
 

