:root{
    --primary-green:#3EB25E;
    --primary-white: #FFFF;
    --dark-green:#0e3a1b;
    --primary-font: 'Roboto', sans-serif;
}

*{
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
}

.green-btn{
    background-color:  var(--primary-green);
    border-radius: 2.1rem;
    width: 12rem;
    height:2rem;
    border-color: transparent;
    color: var(--primary-white);
    font-size:1.3rem;
    padding: 0.5rem;
    line-height: 0.5rem;
}

.green-btn:hover{
    background-color: #FFFF7D;
    color: black;

}

.radio-options h2{
    padding-top: 2rem;
}

input[type="radio"]{
    /*removing default appearance*/
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-green);
    box-shadow: 0 0 0 1px var(--primary-green);
    opacity: 50%;
    
}

input[type="radio"]:checked{ 
    opacity: 100%;
} 

input[type="radio"]:hover{ 
    opacity: 100%;
} 
 
/*removing default appearance*/
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0%;
    border: 0.5rem solid var(--primary-green);
    box-shadow: 0 0 0 1px var(--primary-green);
    opacity: 50%;
    
}

input[type="checkbox"]:checked{ 
    opacity: 100%;
} 

input[type="checkbox"]:hover{ 
    opacity: 100%;
} 

.checkbox-options h2{
    padding-top: 2rem;
}

textarea{
    width: 30rem;
    height: 14rem;
    border: 0.08rem solid rgb(0, 0, 0);
    border-radius: 1.25rem;
    resize: none;
    padding: 1rem;
    opacity: 50%;
}

textarea:hover{
    opacity: 100%;
}

.selectdiv{
    position: relative;
    width: 100%;
}

.selectdiv:after{
    content:url("../imgs/selection_arrow.png");
    top: 0.5rem;
    left:0.5rem;
    position: absolute; 
}

.select-options{
    /*removing default apperance*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0.5em;
    border: 1px solid rgb(0, 0, 0);
    padding:0.2rem;
    max-width: fit-content;
    font-size: 1.3rem;
    opacity: 50%;
    text-overflow: ellipsis;
    padding-left: 2rem;

}

.select-options:hover{
    opacity: 100%;
}


@media only screen and (max-width: 480px) {

    body{
        max-width: fit-content;
    }  
    
    textarea{
        width: 18rem;
        height: 5rem;
    }

    .button-group button{
        width: 8rem;
        font-size: 0.8rem;
        margin:0.2rem;
    }

    .button-group{
        margin: 0;
        padding: 0;
    }

    .button-group-trio{
        text-align: center;
    }

    .button-group-trio #skip{
        margin-top: 0.5rem;
        width: 75%;
        font-size: 0.8rem;
        margin-left: 0rem;
        text-align: center;

    }

    
    .radio-options{
        text-align: left;
        
    }

    .selectdiv select{
        position: relative;
        width: 100%;
    }
    
    .selectdiv:after{
        content:url("../imgs/selection_arrow.png");
        top: 0.35rem;
        left:0.8rem;
        position: absolute;
    }
    
    .select-options{
        font-size: 0.8rem;
        text-align: left;
    }
        

        


    
}