#investments{
    display: flex;
    margin: 5rem;
}

#investments h2{
    width: 29rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.container h1,h2,p{
    font-size: 1.6rem;
}

#investments-char{
    width: 34rem;
    margin-right: 5rem;
}

#status-options:hover{
    opacity: 100%;
}

.training-form label{
    font-size: 1.6rem;
}

.button-group-trio{
    margin-top: 4rem;
}

.button-group-trio #skip{
    margin-top: 1rem;
    width: 85%;
}


#select{
    width:25rem;
}

@media only screen and (max-width: 768px) {
    body{
        margin: 1rem;
    }
    #investments{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0rem;
        flex-direction: column;
    }
    
    .container h2{
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    .container h1,h2,p{
        font-size: 1rem;
    }
    
    #wrapper{
        width: 60%;
        height: auto;
     }

    #investments-char{
        max-width:60%;
        margin-right: 0rem;
    }
  

    .button-group{
        flex-wrap: wrap;
    }

    .training-form{
        text-align: left;
    }

    .training-form label{
        font-size: 1rem;
    }
    
    .button-group-trio{
        text-align: center;
        margin-top: 1.5rem;
    }
    
    .button-group-trio #skip{
        margin-top: 0.5rem;
        width: 100%;
        font-size: 0.8rem;
        margin-left: 0rem;
        text-align: center;

    }
    
    .inv-text{
        padding: 0;
        margin: 0;
    }

    .inv-text h2{
        max-width: fit-content;
        width:20rem;
        font-size: 1rem;
    }

    
    #select{
        width:18rem;
    }


}