#losses{
    display: flex;
    margin: 5rem;
    padding-top: 2rem;
}

#losses h2{
    width: 29rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.container h1,h2,p{
    font-size: 1.5rem;
}

#losses-char{
    width: 34rem;
    margin-right: 5rem;
}


.investments-form label{
    font-size: 1.6rem;
}

.button-group-trio{
    margin-top: 4rem;
}

.button-group-trio #skip{
    margin-top: 1rem;
    width:80%;
}


@media only screen and (max-width: 768px) {

    #losses{
        display: block;
        text-align: center;
        align-items: center;
        align-content: center;
        padding-inline: auto;
        margin-inline: auto;
        padding-block: auto;
        margin-block: auto;
    }

    #wrapper{
        width: 100%;
        height: auto;
     }

    #losses-char{
        max-width:100%;
        margin-right: 0rem;
    }
    
    #losses h2{
        width: 20rem;
        padding-bottom: auto;
        padding-top: auto;
        text-align: center;
    }
    
    h1,h2,p{
        font-size: 1rem;
    }

    h2{
        margin: auto;
    }
    
    .button-group-trio{
        margin-top: 1rem;
    }
    
    .button-group-trio #skip{
        margin-top: 1.2rem;
        width:45%;
        font-size: 1rem;
    }

}





